.sections {
  padding: 0 150px;
  margin-top: 135px;

  &__link_all {
    width: max-content;
    margin-bottom: 75px;

    &::after {
      content: "";
      width: 81px;
      height: 9px;
      margin-left: 7px;
      background: transparent url(../img/icons/wave_arrow.svg) no-repeat center;
    }
  }

  &__section {
    margin-right: 200px;

    &:last-child {
      margin: 0;
    }
  }

  &__caption {
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 15px;
  }
}


@media (max-width: 1400px) {
  .sections {
    padding: 0 120px;
    margin-top: 110px;
  
    &__section {
      margin-right: 120px;
    }
  }
}


@media (max-width: 767px) {
  .sections {
    padding: 0;
    margin-top: 10px;

    &__wrapper {
      flex-direction: column;
    }

    &__link_all {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 30px;
    }
  
    &__section {
      margin: 0 0 30px;
  
      &:last-child {
        margin: 0;
      }
    }
  
    &__caption {
      margin-bottom: 15px;
    }
  
    &__item {
      margin-bottom: 10px;
      display: flex;
    }

    &__link {
      font-size: 14px;
      line-height: 16px;
    }
  }
}